<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/main.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="../../static/css/main.css">
    <!-- Modernizr -->
    <script src="../../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/vendor/respond.src.js"></script>
    <![endif]-->

    <style>
        .content {
            padding-left: 5%;
            margin-top: 5%;
        }
    </style>
</head>

<body>

{% include 'base.html' %}

<div class="content">
    <div id="imageuse">
        <a {% if user == current_user or current_user.is_administrator() %}
            href="{{ url_for('operation.change_avatar') }}"{% endif %}>
            {% if user.photo %}
                <img style="width: 300px; position: relative;" id="image" src="{{ user.photo }}" onclick="EntryUser()">
                {#                <img class="img-rounded profile-thumbnail" src="{{ user.photo }}" height="256" width="256">#}
            {% else %}
                <img class="img-rounded profile-thumbnail" src="../../static/avatars/default_avatar.jpg" height="256" ,
                     width="256">
            {% endif %}
        </a>
    </div>
    <div>
        <h3>{{ user.username }}</h3>
    </div>
    <div>
        {% if user.location %}
            from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </div>

    <div>
        {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
    </div>
    <div>
        <label>Member since</label> {{ user.member_since }}
    </div>
    <div>
        <label>Last seen</label> {{ user.last_seen }}
    </div>
    <br>
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger"
       href="{{ url_for('.edit_profile_admin', id=user.id) }}">
        Edit Profile [Admin]
    </a>
    {% else %}
        {% if user == current_user %}
            <div>
                <a class="btn btn-default" href="{{ url_for('operation.edit_profile') }}">Edit Profile</a>
            </div>
        {% endif %}
    {% endif %}

    <table class="table table-hover followers">
        <thead>
        <tr>
            <th>School you have followed</th>
            <th></th>
        </tr>
        </thead>
        {% for follow in follows %}
            <tr>
                <td>
                    <a href="{{ url_for('main.school_detail', roll_number=follow.school.roll_number, official_school_name = follow.school.official_school_name) }}">
                        <span class="badge">  {{ follow.school.official_school_name }} </span>
                    </a>
                </td>
                <td>{{ moment(follow.timestamp).format('L') }}</td>
            </tr>
        {% endfor %}
    </table>


</div>

</body>
</html>