{% import "_macro.html" as macros %}

{% block title %}Schools you following - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }} {{ user.username}}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>Followed Schools</th><th> </th></tr></thead>
    {% for follow in follows %}
    <tr>
        <td>
            <a href="{{ url_for('.school_detail', roll_number=follow.school.roll_number, official_school_name = follow.school.official_school_name) }}">
{#              <a href="{{ url_for('.index') }}">#}
              <span class="badge">  {{ follow.school.official_school_name }} </span>
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
