<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/main.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Modernizr -->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/vendor/respond.src.js"></script>
    <![endif]-->
</head>
<body>

<header role="banner">
    <nav role="navigation" class="navbar navbar-static-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="../../static/img/logo.png"
                                                                                alt="Bootstrappin'" width="120"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a href='{{ url_for('main.index') }}'>
                        <span class="icon fa fa-home"></span> Home
                    </a></li>
                    <li><a href="#">
                        <span class="icon fa fa-desktop"></span> Search
                    </a></li>
                    <li><a href="#">
                        <span class="icon fa fa-group"></span> Compare
                    </a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if current_user.photo %}
                                    <img src="{{ current_user.photo }}" height="23" width="23">
                                {% else %}
                                    <img class="img-rounded profile-thumbnail"
                                         src="../../static/avatars/default_avatar.jpg" height="23"
                                         width="23">
                                {% endif %}
                                {{ current_user.username }} <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                {% if current_user.login_type != 'website' %}
                                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                                    </li>
                                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                                    </li>
                                    <li><a href="{{ url_for('main.change_password') }}">Change password</a></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                                {% endif %}
                            </ul>

                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
</header>

<div style="margin-left: 20px">
    <div style=" padding-left: 20px; margin-top: 8px" id="imageuse">

{#        <div id="errorSignUp">#}
{#            {% for message in get_flashed_messages() %}#}
{#                <div class="alert alert-warning">#}
{#                    <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

       <a {% if user == current_user or current_user.is_administrator() %}
             href="{{ url_for('main.change_avatar') }}"{% endif %}>
            {% if user.photo %}
                <img style="width: 300px; position: relative;" id="image" src="{{ user.photo }}" onclick="EntryUser()">
{#                <img class="img-rounded profile-thumbnail" src="{{ user.photo }}" height="256" width="256">#}
            {% else %}
                <img class="img-rounded profile-thumbnail" src="../../static/avatars/default_avatar.jpg" height="256" ,
                 width="256">
            {% endif %}
       </a>


    <h4> {{ user.username }} </h4>

    <div>
        {% if user.location %}
            from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </div>

    <div>
        {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
    </div>

    <div>
        Member since {{ user.member_since }}
    </div>

    <div>
        Last seen {{ user.last_seen }}
    </div>

    {% if user == current_user %}
       <div> <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit Profile
        </a></div>
    {% endif %}

</div>
</div>
</body>
</html>