<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-bootstrap lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-bootstrap lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-bootstrap lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
{% import "bootstrap/wtf.html" as wtf %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>School-Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Main Style Sheet-->
    <link rel="stylesheet" href="../../static/css/bootstrap3/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap3/bootstrap-theme.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <!-- Modernizr -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    {#<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0Wx6JXUwJxDRMEgZfj7MmkbOulY2q2s&libraries=places&language=en">
    </script>#}

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGOu1MCWVAvOQ24l6-tOdRpXgKXEDWvYs&language=en&libraries=places">
    </script>
    <script src="../../static/js/bootstrap3/bootstrap.js"></script>

    <script src="../../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="../../static/js/pagination/jquery.twbsPagination.js"></script>
    <script src="../../static/js/main.js"></script>
    <!-- Respond.bootstrap for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="bootstrap/vendor/respond.min.bootstrap"></script>
    <![endif]-->



</head>

<body class="products">
{% include 'base.html' %}
<!--[if lte IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->



<main role="main">

    <!-- INTRO SECTION -->
    <section id="welcome" class="jumbotron">
        <div class="container">

            <div class="search-bar">
                <form role="form" method="post">
                    {{ form.hidden_tag() }}
                    {# {{ wtf.form_errors(form, hiddens="only") }}#}


                    <div class="row">
                        <!--<div class="form-group rightLine col-lg-2 col-sm-2 col-md-2">
                            <input id="location" type="text" name="location" placeholder="Your City" value="Co.Dublin"
                                   readonly="readonly" >
                            <label for="location" class="location"><i class="fa fa-dot-circle-o"></i></label>
                        </div>-->
                        <div class="form-group rightLine col-lg-2  col-sm-2 col-md-2">
                            <div class="btn-group bootstrap-select listing-categories dropdown">
{#                                <select id="county" class="form-control">#}
{#                                    <option value ="Dublin"><span id="locationtext">Cork</span></option>#}
{#                                    <option value ="Galway"><span id="locationtext">Galway</span></option>#}
{#                                    <option value ="Cork"><span id="locationtext">Dublin</span></option>#}
{#                                    <option value ="Limerick"><span id="locationtext">Limerick</span></option>#}
{#                                    <option value ="Waterford"><span id="locationtext">Waterford</span></option>#}
{#                                </select>#}
                                {{ wtf.form_field(form.select, class='form-control', id = 'county') }}
                            </div>
                        </div>

                        <div class="form-group col-lg-8  col-sm-8 col-md-8">

                            {{ wtf.form_field(form.search, class='search-text') }}
                        </div>

                        <div class="form-group col-lg-2  col-sm-2 col-md-2">
                            <input type="submit" value="Search" class="submit">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>


    <div class="container">

        <div class="page-header">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <h4>Welcome to Best Choice</h4>
            <h4>{% if current_user.is_authenticated %} Hello, {{ current_user.username }}!{% endif %}</h4>
            <h1>Post-Primary Schools
                <small>Sorted by current distance by default</small>
            </h1>
        </div>

        <div class="row">
            <div id="mapholder" class="grid-options col-sm-4" style="height: 500px">

            </div><!-- Google Map area -->

            <script>
                $(function () {

                    initMap();//执行函数

                    //geocodeLocation(latlng);//定位当前所属County

                    $("#map").on("mouseover", ".marker-container", function () {
                        $(this).find(".detail-info").show();
                    });

                    $("#map").on("mouseout", ".marker-container", function () {
                        $(this).find(".detail-info").hide();
                    });
                });
            </script>


            <div class="products-grid col-sm-8">
                <div id="loadgif" style="text-align: center; width: 100%;"> 　　
                            <img style="display: inline-block;width:200px; height:200px; top:50%; left:50%;" alt="loading..." src="../../static/img/search/loader.gif"/>
                </div>

                <!-- school list-->
                <div id="school-holder" class="row">


                </div><!-- row-->

                <div id="pagination-row" class="row pagination-wrap">
                    <nav style="margin-left:20px" aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>

                </div><!-- /.row.pagination-wrap -->

                <script>

                    ajax_getSchoolDataByLatlng();

                    $('#pagination').twbsPagination({
                        totalPages: totalPage,
                        visiblePages: 8,
                        onPageClick: function (event, page) {
                            $("#loadgif").hide();
                            drawSchoolCardsByPage(page);
                        }
                    });

                </script>




            </div><!-- /.products-grid -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</main>
<footer role="contentinfo">
    <div class="container">
        <!--<div class="row">

            <div class="col-sm-4 col-md-2">
                <h3>Content</h3>
                <ul>
                    <li><a href="#">content1</a></li>
                    <li><a href="#">content2</a></li>
                    <li><a href="#">content3</a></li>
                    <li><a href="#">content4</a></li>
                    <li><a href="#">content5</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h3>Styles</h3>
                <ul>
                    <li><a href="#">StyleA</a></li>
                    <li><a href="#">StyleB</a></li>
                    <li><a href="#">StyleC</a></li>
                    <li><a href="#">StyleD</a></li>
                    <li><a href="#">StyleE</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-2">
                <h3>Other</h3>
                <ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Another link</a></li>
                    <li><a href="#">Link again</a></li>
                    <li><a href="#">Try this</a></li>
                    <li><a href="#">Don't you dare</a></li>
                </ul>
            </div>

            <!-- Add the extra clearfix for only the required viewport -->
            <!-- A<div class="clearfix visible-sm"></div>

            <div class="about col-sm-12 col-md-6">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod congue bibendum. Aliquam
                    erat volutpat. Phasellus eget justo lacus. Vivamus pharetra ullamcorper massa, nec ultricies metus
                    gravida egestas. Duis congue viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum
                    dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus
                    hendrerit.</p>
                <p><a class="btn btn-default btn-xs pull-right" href="#">Learn more <span
                        class="fa fa-arrow-circle-right"></span></a></p>
            </div>
        </div><!-- /.row -->


        <!--
        <ul class="social">
            <li><a href="#" title="Twitter Profile"><span class="icon fa fa-twitter"></span></a></li>
            <li><a href="#" title="Facebook Page"><span class="icon fa fa-facebook"></span></a></li>
            <li><a href="#" title="LinkedIn Profile"><span class="icon fa fa-linkedin"></span></a></li>
            <li><a href="#" title="Google+ Profile"><span class="icon fa fa-google-plus"></span></a></li>
            <li><a href="#" title="GitHub Profile"><span class="icon fa fa-github-alt"></span></a></li>
        </ul>
        -->
        <p class="footer-brand"><a href="index.html"><img src="../../static/img/logo.png" width="80"
                                                          alt="Bootstrappin'"></a></p>

    </div><!-- /.container -->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>


<!-- Holder.bootstrap for project development only -->
<script src="../../static/js/vendor/holder.js"></script>

<!-- Essential Plugins and Main JavaScript File -->
<script src="../../static/js/plugins.js"></script>



{#<script language="JavaScript">#}
{#function refresh()#}
{#{#}
{#window.location.reload();#}
{#}#}
{#setTimeout('refresh()',5000); //指定1秒刷新一次#}
{#</script>#}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>





    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

</body>
</html>