<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}


<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="../../../static/css/bootstrap3/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/background/demo.css"/>
    <link rel="stylesheet" href="../../../static/css/background/templatemo-style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap3/bootstrap.js"></script>
    <script src="../../../static/js/background/modernizr.custom.86080.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="js/vendor/respond.src.js"></script>
        <![endif]-->
    <style>
        .forgot {
        margin-top: 180px;
            width: 100%;
    }


    @media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        .forgot {
            margin-top:120px;
        }

    }
</style>
</head>
<body>
 <!-- background area start 需要放在最开始处-->
    <div id="particles-js"></div>
    <ul class="cb-slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- background area end-->
{% include 'base.html' %}

<main role="main">
    <div class="forgot container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="z-index:9999">
                <div class="modal-content">
                    <div class="modal-header">
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
                        <h4 class="modal-title">
                            Forgot your password?
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form novalidate="novalidate" id="formSignUp" method="post">
                            <div id="errorSignUp">
                                {% for message in get_flashed_messages() %}
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>

                            <p>Don't worry. Just enter your email address below — we'll send you a link to reset it.</p>
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}
                            <div class="form-group" >
                                <label>Email</label>
                                <div class="input-group" style="width:100%">
{#                                    <span class="input-group-addon"><span#}
{#                                            class="glyphicon glyphicon-user"></span></span>#}
                                    {#                                    <input class="form-control" placeholder="Email address" name="emailSignUp" id="email" type="email">#}
                                    {{ wtf.form_field(form.email) }}
                                </div>
                            </div>

                            <button type="submit" id="btnLogin" class="btn btn-primary"
                                    style="width: 127px;text-align: center">Send
                            </button>
                        </form>

                        <div class="modal-footer">
                            <small><a href="{{ url_for('auth.login', type='index') }}">Cancel</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>