<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/main.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <!-- Modernizr -->
    <script src="../../../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/vendor/respond.src.js"></script>
    <![endif]-->
</head>
<body>

{% include 'base.html' %}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            Create an account
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form novalidate="novalidate" id="formSignUp" method="post">
                            <div id="errorSignUp">
                            </div>

                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}

                            <div class="form-group" >
                                <label>Email</label>
                                <div class="input-group" style="width: 100%">
{#                                    <span class="input-group-addon"><span#}
{#                                            class="glyphicon glyphicon-user"></span></span>#}
                                    {#                                    <input class="form-control" placeholder="Email address" name="emailSignUp" id="emailSignUp" type="email">#}
                                    {{ wtf.form_field(form.email) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <div class="input-group" style="width: 100%">
{#                                    <span class="input-group-addon"><span#}
{#                                            class="glyphicon glyphicon-user"></span></span>#}
                                    {#                                    <input class="form-control" placeholder="Username" name="emailSignUp" id="emailSignUp" type="email">#}
                                    {{ wtf.form_field(form.username) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group" style="width: 100%">
{#                                    <span class="input-group-addon"><span#}
{#                                            class="glyphicon glyphicon-lock"></span></span>#}
                                    {#                                    <input class="form-control" placeholder="Create a password" name="passwordSignUp" id="passwordSignUp" type="password">#}
                                    {{ wtf.form_field(form.password) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Confirm password</label>
                                <div class="input-group" style="width: 100%">
{#                                    <span class="input-group-addon"><span#}
{#                                            class="glyphicon glyphicon-lock"></span></span>#}
                                    {#          <input class="form-control" placeholder="Confirm password" name="passwordConfirmSignUp" id="passwordConfirmSignUp" type="password">#}
                                {{ wtf.form_field(form.password2) }}
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input id="term" type="checkbox">
                                    I have read and accepted <a target="_blank" href="#">the terms and conditions of
                                    use.</a>
                                </label>
                            </div>

                            <button type="submit" id="btnSignUp" class="btn btn-primary" style="width: 127px;">Sign up
                            </button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <small>Already have an account? <a class="alreadySignUp" href="{{ url_for('auth.login') }}">Login</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>