<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/main.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <!-- Modernizr -->
    <script src="../../../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/vendor/respond.src.js"></script>
    <![endif]-->
</head>

{% include 'base.html' %}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-xs-10">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            Confirmation
                        </h4>
                    </div>

                    <div class="modal-body">
                        <h2> Hello, {{ current_user.username }}!</h2>
                        <h3>You have not confirmed your account yet.</h3>
                        <p>Before you can access this site you need to confirm your account.
                            Check your inbox, you should have received an email with a confirmation link.</p>
                        <p>
                            Still cannot receive email?
                            <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>